.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.1rem;
  align-items: center;
  flex-direction: column;
}

.productCard {
  position: relative;
  background-color: #ffff;
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 30rem;
  max-height: 50rem;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  
}

.productImage {
 
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
  color: #17b978;
}

.productCard__wishlist {
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 1.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  margin: 1rem;
  fill: rgba(247, 98, 5, 1);
}

.productCard__content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.productName {
  font-size: 1.2rem;
  margin: auto;
}

.displayStack__1{
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.displayStack__2 {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.0rem;
  font-weight: bold;
}

.productSales,
.productTime {
  font-size: 1.0rem;
  margin-left: 1rem;
}

.productRating{
  color: rgba(247, 98, 5, 1);
}



.notdisplayed {
  display: none;
  
}

.displayed {
  font-family: var(--bs-font-sans-serif);
  border: none;
  display: flex;
  background-color: #17b978;
  color: black;
  height: 30px;
  margin: auto;
 
 
}